.fixed-positioning{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: darkgrey;

    border-style:  solid;
    border-color: rgb(65, 105, 28);
    border-width: 20px;

    bottom: 50px;
    right: 50px;

    /*z-index: -1; <--Da posiscion en eje z*/
}
.div1{
    height:100%
    
}